<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Gestor Hotelero</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink="/home" aria-current="page"  *ngIf="" >Home</a> 
        <a *ngIf="token && identity.role === 'ADMIN'" class="nav-link active" routerLink="/users" aria-current="page" >Users</a>
        <a class="nav-link active" routerLink="/hotels" aria-current="page" *ngIf="token">Hotels</a>
        <a *ngIf="token && identity.role === 'ADMIN' || identity.role === 'CLIENT'"   class="nav-link active" routerLink="/events" aria-current="page">Events</a>
        <a *ngIf="token && identity.role === 'ADMIN' || identity.role === 'CLIENT'" class="nav-link active" routerLink="/services" aria-current="page" >Services</a>
        <a   class="nav-link active" routerLink="/profile" aria-current="page" *ngIf="token">My Profile</a>


        <a *ngIf="!token" class="nav-link" routerLink="/login">Login</a>
        <a *ngIf="!token"class="nav-link" routerLink="/register">Register</a>
      </div>
      <div class="text-center">
      <div class="navbar-nav" *ngIf="token" >  
        <a class="nav-link" (click)="logOut();" type="button" routerLink="/login">Log Out</a>
      </div>
      </div>
    </div>
  </div>
</nav>