<app-navbar></app-navbar>


<section class="vh-100">
    <div class="container py-1 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://media.istockphoto.com/vectors/hotel-2-stars-sign-icon-in-comic-style-inn-cartoon-vector-on-white-vector-id1300163395?b=1&k=20&m=1300163395&s=612x612&w=0&h=RcaGZALGidnGAgtGmVbDtBF-6jKiOSTk0AniNFTzXO4="
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form (ngSubmit)="login()">
            <!-- Email input -->
            
                <h2 class="text-center">Bienvenido</h2>
                <div class="form-outline mb-1">
                  <div class="text-center">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                      <p class="lead fw-normal mb-0 me-1">Sign in with</p>
                      <button (click)="loginGoogle()" type="button" class="btn btn-secondary btn-floating mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                          <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                        </svg>
                      </button>
                    </div>
                    <h2 class="text-center">or</h2>

              </div>
              <input [(ngModel)]="user.username" name="username" type="username" id="form1Example13" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example13">Username</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input [(ngModel)]="user.password" name="password" type="password" id="form1Example23" class="form-control form-control-lg" />
              <label class="form-label" for="form1Example23">Password</label>
            </div>
  
            <!-- Submit button -->
            <div class="text-center">
              <button type="submit" style="background-color: darkorange;" class="btn-lg btn-block">Sign In</button>

            </div>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">¿Dont have an account?</p>
            </div>
  
            <a routerLink="/register" class="btn btn-primary btn-lg btn-block text-center" style="background-color: #b3462e" href="#!"
              role="button">
              <svg   xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              </svg>
              <i class="fa fa-registered"></i>  Go to Register
            </a>
            

  
          </form>
        </div>
      </div>
    </div>
  </section>
