<app-navbar></app-navbar>

<div class="text-center mt-2 mb-2">
    <button class="btn btn-success btn-icon-split" data-bs-toggle="modal" data-bs-target="#newRoom">
        <span class="icon">
        <i class="fa-solid fa-bed" aria-hidden="true"></i>
    </span>
    </button>
</div>

<hr>

<div class="row background">
    <div *ngFor="let room of rooms" class="card m-4 text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{room.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Description:  {{room.description}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Q.  {{room.price}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Description:  {{room.description}}</h6>

        </div>
    </div>
</div>